@import './css/images.css';
@tailwind base;
@tailwind components;

.cms-content--profile p:first-child {
    @apply relative pb-6 text-2xl;
}

.cms-content--profile p:first-child:after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    border-bottom: 3px dotted #97c9bd;
    width: 75%;
}

.cms-content h3 {
    @apply pt-4 pb-3 text-2xl;
}

@tailwind utilities;

@layer base {
    body {
        @apply font-serif;
        @apply text-gray-dark;
    }
    h2 {
        @apply text-2xl leading-7;
    }
    a {
        @apply text-salmon underline hover:no-underline;
    }
    a:hover {
        @apply text-teal;
    }
    p {
        @apply pb-2 text-lg leading-p;
    }
    input,
    textarea {
        @apply block w-full p-2 mt-1 mb-4 border border-gray-md;
    }
    label {
        @apply text-base font-bold uppercase;
    }
    button[type='submit'] {
        @apply relative py-2 pl-4 pr-6 uppercase border-b border-salmon bg-gray-lighter;
    }
    button[type='submit']:hover {
        @apply bg-gray-light;
    }
    button[type='submit']:after {
        content: ' ';
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 10;
        border-bottom: 3px dotted #97c9bd;
        width: 75%;
    }
    form {
        @apply relative pt-6;
    }
    form:before {
        content: ' ';
        position: absolute;
        top: 8px;
        left: 0;
        z-index: 10;
        border-top: 3px dotted #97c9bd;
        width: 75%;
    }

    .artwork-long-title {
        @apply mb-4;
    }
    .artwork-long-title p {
        @apply pb-1;
    }
    .artwork-long-title p:empty {
        @apply pb-3;
    }
}
